<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			layout:decorate="~{layout/layout}">
<head>

		<!-- 個別 CSS -->
		<link	th:href="@{/css/user/user_page.css}"
				rel="stylesheet">
		<title>ユーザーページ</title>
	</head>
<body>
	<div layout:fragment = "content">
		<div class = "header border-bottom" >
			<h1 class = "h2" th:text = "${login_user} + さんのユーザページ"></h1>
			<br>
				<table class="table">
					<tbody>
						<tr>
							<th><a th:href="@{/user/user_info/{penName}(penName=${login_user})}" th:text = "#{detail.info}"></a></th>
						</tr>
						<tr>
							<th><a th:href="@{/novel/write}">新しい小説を書く</a></th>
						</tr>
						<tr>
							<th><a th:href="@{/novel/in_preparation}">投稿された絵を見る（準備中）</a></th>
						</tr>
						<tr>
							<th><a th:href="@{/novel/in_preparation}">投稿された絵を見る（準備中）</a></th>
						</tr>
						<tr>
							<th><a th:href="@{/novel/in_preparation}">投稿された朗読を聴く（準備中）</a></th>
						</tr>
						<tr>
							<th><a th:href="@{/novel/in_preparation}">他の人の小説を探す（準備中）</a></th>
						</tr>
					</tbody>
				</table>
		</div>
	</div>
</body>
</html>